################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStoreApplication/BookStoreApplication/obj
/BookStoreApplication/.vs/BookStoreApplication

/BookStoreApplication/BookStoreApplication/wwwroot/lib
